[submodule "lib/FFXIVClientStructs"]
	path = lib/FFXIVClientStructs
	url = https://github.com/ffxiv-tc-port/FFXIVClientStructs.git
[submodule "lib/Nomade040-nmd"]
	path = lib/Nomade040-nmd
	url = https://github.com/ffxiv-tc-port/nmd.git
[submodule "lib/TsudaKageyu-minhook"]
	path = lib/TsudaKageyu-minhook
	url = https://github.com/ffxiv-tc-port/minhook.git
[submodule "lib/FfxivArgLauncher"]
	path = lib/FfxivArgLauncher
	url = https://github.com/ffxiv-tc-port/FfxivArgLauncher.git
[submodule "lib/cimgui"]
	path = lib/cimgui
	url = https://github.com/ffxiv-tc-port/gc-cimgui
[submodule "lib/cimplot"]
	path = lib/cimplot
	url = https://github.com/ffxiv-tc-port/gc-cimplot
[submodule "lib/cimguizmo"]
	path = lib/cimguizmo
	url = https://github.com/ffxiv-tc-port/gc-cimguizmo
[submodule "lib/Hexa.NET.ImGui"]
	path = lib/Hexa.NET.ImGui
	url = https://github.com/ffxiv-tc-port/Hexa.NET.ImGui.git
[submodule "lib/Lumina"]
	path = lib/Lumina
	url = https://github.com/ffxiv-tc-port/Lumina.git
